<ion-header>
    <ion-grid>
        <ion-row>
            <ion-col class="toolbox">
                <ion-icon name="add-circle-sharp"></ion-icon>
            </ion-col>
            <ion-col class="toolbox">
                <ion-icon name="archive-sharp"></ion-icon>
            </ion-col>
            <ion-col class="toolbox">
                <ion-icon name="bag-sharp"></ion-icon>
            </ion-col>
            <ion-col class="toolbox">
                <ion-icon name="airplane-sharp"></ion-icon>
            </ion-col>
            <ion-col class="toolbox">
                <ion-icon name="bus-sharp"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
  <ion-content>
    <div id="container">
        <ion-card>
            <img src="./assets/images/logo.jpg" alt="">
            <ion-card-header>
                <ion-card-subtitle>
                    Register now
                </ion-card-subtitle>
                <ion-input placeholder="Firstname"></ion-input>
                <ion-input placeholder="Lastname"></ion-input>
                <ion-button expand="full" class="ion-margin-top">Sign Up</ion-button>
            </ion-card-header>
        </ion-card>
    </div>

  </ion-content>
